*{
    padding:0px;
    margin:0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing:border-box;

}
body{
    background:purple;
        color:#fff;
}
.a{
    max-width: 700px;
    margin:12%;
    width:90%;
    
}
.b {
    width:100%;
    text-align:left;
    padding: 26px 20px;
    margin-top: 20px;
    margin-bottom:20px;
    display:flex;
    background:white;
    align-items:center;
    justify-content:space-between;
    border-radius:6px;

}
.b img{
    width: 20px;
    cursor:pointer;
}
.b input{
    border:0px;
    outline:0px;
    border-radius:10px;
    font-size:20px;
}
.a button img{
    width:20px;
    margin-right:10x;
}
.a button{
    border:0px;
    outline:0px;
    border-radius:10px;
    font-weight:200px;
    font-size:20px;
    justify-content:space-between;
    cursor:pointer;
    padding:16px 26px;
    align-items:center;
    display:flex;
    background:#019f55;
}
.a h1 span{
    color:#019f55;
}
.a h1 u{
    color:#019f55;
}